/*Global*/
:root {
  /*Color*/
  --color-blue: #09a6e4;
  --color-gray: #a5a5a5;
  --color-magenta: #eb476e;
  --color-aquamarine: #55dfb4;
  --color-white: white;
  /*Font Size*/
  /*Font Weight*/
  --wegiht-bold: 700;
  --wegiht-regular: 400;
  --wegiht-thin: 300;
  /*Size*/
}

/*Universal tags*/
* {
  box-sizing: border-box;
}

/*Typo*/

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
}

li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

/*Progress Bar*/
.header {
  position: fixed;
  top: 0;
  z-index: 15;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: var(--color-white);
}

.progress-container .progress-bar {
  width: 0;
  height: 5px;
  background: var(--color-blue);
  transition: width 0.2s ease;
}

/*Navbar*/
#navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: var(--color-white);
  align-items: center;
  padding: 10px 50px;
  height: 70px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.navbar__logo a {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: var(--wegiht-thin);
  color: var(--color-blue);
  display: flex;
}

.navbar__logo {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.navbar__menu__container {
  display: flex;
}

.navbar__menu {
  font-family: "Open Sans";
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3.28px;
  font-weight: var(--wegiht-bold);
  color: var(--color-gray);
}

.navbar__menu__item {
  padding: 20px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item:hover {
  color: black;
}

.navbar__toggle-btn {
  color: var(--color-blue);
  position: absolute;
  top: 24px;
  right: 32px;
  display: none;
  font-size: 15px;
}

.navbar__toggle-btn:hover {
  cursor: pointer;
}

/*Why Us*/
#whyus {
  text-align: center;
  padding-top: 120px;
}

.whyus__welcome {
  font-family: "Raleway";
  font-size: 49px;
  font-weight: var(--wegiht-regular);
  margin-top: 50px;
}

.whyus__desc {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: var(--wegiht-regular);
  margin-top: 5px;
}

.whyus__open {
  font-family: "Open Sans";
  font-weight: var(--wegiht-bold);
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-blue);
  margin: 30px;
  width: 440px;
  height: 67px;
  left: 0px;
  top: 0px;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  transition: all 750ms;
  transition-property: background-color;
  transition-duration: 750ms;
}

.whyus__open:hover {
  cursor: pointer;
  background-color: #e8f3f7;
  color: var(--color-blue);
  transition: all 0.4s;
}

.whyus__image {
  width: 100%;
  height: auto;
}

.whyus__phrase {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 30px;
  padding: 30px;
}

.whyus__our-data {
  display: flex;
  padding: 20px 170px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.our-data__num {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 5.96px;
  padding: 10px;
}

.our-data__desc {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: var(--color-gray);
  padding-bottom: 50px;
}

.icondata1,
.icondata3 {
  width: 30px;
}

.icondata2 {
  width: 40px;
}

.circle1 {
  background-color: var(--color-magenta);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle2 {
  background-color: var(--color-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle3 {
  background-color: var(--color-aquamarine);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Benefits*/

.benefits__background {
  background-color: #f7f7f7;
  height: 900px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.benefit-circle {
  width: 70px;
  height: 70px;
  background-color: var(--color-magenta);
  border-radius: 31%;
  transform: rotate(-45deg);
}

.benefit-circle2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--color-blue);
}

.benefit-imagecontainer {
  position: relative;
}

.benefit-imagecontainer .benefit-circle {
  position: absolute;
  top: -20px;
  left: 125px;
}

.benefit-imagecontainer2 {
  position: relative;
}

.benefit-imagecontainer2 .benefit-circle2 {
  position: absolute;
  top: -11px;
  left: -8px;
}

.benefits__box1 {
  width: 700px;
  height: 230px;
  background: var(--color-white);
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.benefits__box2,
.benefits__box3 {
  box-sizing: border-box;
  width: 700px;
  height: 230px;
  background: var(--color-white);
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-direction: row-reverse;
}

.benefits__twoboxes {
  display: flex;
}

.thirdbox {
  width: 400px;
  height: 230px;
  margin-right: 24px;
}

.benefits__box-additional {
  width: 270px;
  height: 230px;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  background: var(--color-aquamarine);
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__box-title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
}

.benefits__box-desc {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
}

.benefits__box-img1 {
  width: auto;
  height: 124px;
  position: relative;
  z-index: 2;
}

.benefits__box-img2 {
  width: auto;
  height: 124px;
  position: relative;
  z-index: 2;
}

.benefits__box-line-1 {
  width: 300px;
  border-top: 2px solid var(--color-magenta);
}

.benefits__box-line-2 {
  width: 300px;
  border-top: 2px solid var(--color-blue);
}

.benefits__box-line-3 {
  width: 300px;
  border-top: 2px solid var(--color-aquamarine);
}

/*Pricing*/

.prices__pricing-title {
  padding-top: 55px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 36px;
  text-align: center;
}

.prices__container {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.prices__container-pricingbox1 {
  width: 100%;
  padding: 20px 10px 50px;
  border: 1px solid var(--color-magenta);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: box-shadow 0.3s;
}

.prices__container-pricingbox1:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 0 0 11px var(--color-magenta);
}

.prices__container-pricingbox2 {
  width: 100%;
  border: 1px solid var(--color-blue);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: box-shadow 0.3s;
}

.prices__container-pricingbox2:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 0 0 11px var(--color-blue);
}

.prices__container-pricingbox3 {
  width: 100%;
  border: 1px solid var(--color-aquamarine);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: box-shadow 0.3s;
}

.prices__container-pricingbox3:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 0 0 11px var(--color-aquamarine);
}

.prices__container__title {
  text-align: center;
  font-family: "Raleway";
  font-weight: var(--wegiht-bold);
  font-size: 20px;
  padding-top: 45px;
  margin-bottom: -33px;
}

.prices__container__dollar1 {
  font-family: "Open Sans";
  font-weight: var(--wegiht-thin);
  font-size: 46px;
  color: var(--color-magenta);
  text-align: center;
}

.prices__container__dollar2 {
  font-family: "Open Sans";
  font-weight: var(--wegiht-thin);
  font-size: 46px;
  color: var(--color-blue);
  text-align: center;
}

.prices__container__dollar3 {
  font-family: "Open Sans";
  font-weight: var(--wegiht-thin);
  font-size: 46px;
  color: var(--color-aquamarine);
  text-align: center;
}

.checkicon1 {
  margin-right: 4px;
  background-color: transparent;
  outline: 1px solid var(--color-magenta);
  border: 1px solid var(--color-magenta);
  border-radius: 3px;
  padding: 2px;
}

.checkicon2 {
  margin-right: 4px;
  background-color: transparent;
  outline: 1px solid var(--color-blue);
  border-radius: 3px;
  padding: 2px;
}

.checkicon3 {
  margin-right: 4px;
  background-color: transparent;
  outline: 1px solid var(--color-aquamarine);
  border-radius: 3px;
  color: red;
  padding: 2px;
}

.prices__container__limited {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-top: -30px;
  padding: 2px;
}

.prices__container__features-list {
  line-height: 30px;
  font-weight: 400;
  font-family: "Raleway";
  text-align: center;
  font-size: 12px;
  justify-content: center;
  padding: 30px;
  margin: 0;
}

.prices__container-button1 {
  position: absolute;
  bottom: -1.5rem;
  transform: translateX(-50%);
  left: 50%;
  width: 130px;
  height: 40px;
  background-color: var(--color-magenta);
  border-radius: 23px;
  color: white;
  font-family: "Open Sans";
  font-weight: var(--wegiht-bold);
}

.prices__container-button2 {
  position: absolute;
  bottom: -1.5rem;
  transform: translateX(-50%);
  left: 50%;
  width: 130px;
  height: 40px;
  background-color: var(--color-blue);
  border-radius: 23px;
  color: white;
  font-family: "Open Sans";
  font-weight: var(--wegiht-bold);
}

.prices__container-button3 {
  position: absolute;
  bottom: -1.5rem;
  transform: translateX(-50%);
  left: 50%;
  width: 130px;
  height: 40px;
  background-color: var(--color-aquamarine);
  border-radius: 23px;
  color: white;
  font-family: "Open Sans";
  font-weight: var(--wegiht-bold);
}

/*Any Questions*/
#contact {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.contact__main {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 40px;
}

.contact__desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.contact__container1 {
  min-width: 50%;
}

.contact__container2-name-title,
.contact__container2-email-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: var(--color-blue);
}

.contact__subcontainer {
  display: flex;
}

.contact__subcontainer-email,
.contact__subcontainer-telf {
  font-family: "Open Sans";
  color: var(--color-gray);
  font-weight: 600;
  font-size: 13px;
}

.contact__container2-terms {
  display: flex;
  gap: 5px;
}

.contact__container2-terms-text {
  font-family: "Open Sans";
  color: var(--color-gray);
  font-size: 7px;
}

.mail,
.phone {
  width: 23px;
  padding: 5px;
}

.contact__submit {
  display: flex;
  flex-direction: row-reverse;
}

.contact__submit-button {
  width: 150px;
  height: 40px;
  background-color: var(--color-blue);
  border-radius: 35px;
  color: white;
  margin-top: 15px;
  margin-left: 190px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
}

.contact__submit-button:hover {
  width: 150px;
  height: 40px;
  background-color: var(--color-blue);
  border-radius: 35px;
  color: white;
  cursor: pointer;
}

.contact__subcontainer-mail {
  display: flex;
  margin-right: 20px;
}

.contact__subcontainer-telf {
  display: flex;
}

/*Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  box-shadow: 4px 0px 15px 0 rgb(0 0 0 / 12%);
}

.footer__logo-title {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 26px;
  color: var(--color-blue);
}
.footer__logo-desc {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 11px;
  color: var(--color-gray);
}

.footer__sns {
  gap: 30px;
}

/*Arrow up*/
.arrow-up {
  position: fixed;
  bottom: 60px;
  right: 40px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
  box-shadow: rgb(0 0 0 / 25%) 0px 5px 15px;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/*For below 768px screen widdth*/
@media screen and (max-width: 1000px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-white);
    z-index: 10;
  }

  .navbar__menu {
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    right: 0;
    top: 67px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.12);
    display: none;
  }

  .navbar__menu.navbar__menu--open {
    display: block;
  }

  .navbar__menu__container {
    display: block;
  }

  .whyus__our-data {
    flex-direction: column;
  }

  .benefits__box1,
  .benefits__box2,
  .benefits__box3 {
    width: auto;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }

  .benefits__background {
    display: block;
    height: auto;
  }

  .benefits__box-additional {
    width: auto;
    height: auto;
  }

  .benefits__twoboxes {
    display: block;
  }

  .thirdbox {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }

  .benefits__box-line-1,
  .benefits__box-line-2,
  .benefits__box-line-3 {
    border-color: transparent;
  }

  .benefits__box-img {
    margin-top: 30px;
  }

  .prices__container {
    flex-direction: column;
    align-items: center;
  }

  .prices__container-pricingbox1,
  .prices__container-pricingbox2,
  .prices__container-pricingbox3 {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    padding: 30px 90px;
    margin-bottom: 30px;
  }

  #contact {
    flex-direction: column;
  }

  .contact__subcontainer {
    display: block;
  }
}

/* footer name and email */

form div input {
  width: 50%;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  padding: 0 30px;
}

form div {
  position: relative;
  margin-bottom: 15px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-blue);
}

form div i {
  font-size: 13px;
  position: absolute;
  padding: 9px;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14px;
  margin-top: 5px;
}

.success-icon,
.failure-icon {
  opacity: 0;
}

button:hover {
  opacity: 0.8;
}

.checkmark {
  font-size: large;
}

/*Pop up*/

#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
  background: rgba(69, 139, 197, 0.8);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 400px;
  height: 300px;
  position: relative;
  top: -100px;
  padding: 10px;
}
#modal .modal-title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: white;
}
#modal .modal-title h2 {
  display: inline;
}
#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .modalcontent {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

.newsletter-button:hover {
  cursor: pointer;
  border-style: 1px;
}

.modal-window {
  display: none;
}

/* currencies   */

.currencies__container {
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3.28px;
  font-weight: var(--wegiht-bold);
}

/* -------photo slider--------   */

#slideShow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
}

.inner-photo {
  position: absolute;
  left: 0;
  top: 0;
}

.inner-photo {
  display: none;
}

.inner-photo.active {
  display: block;
}

.inner-photo img {
  width: 100%;
}

.controller span {
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 25px;
  cursor: pointer;
}

.controller span:hover {
  background-color: rgba(128, 128, 128, 0.11);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
